{% extends "JJCoreBundle::layout.html.twig" %}

{% block title %}
  Ajout concert - {{ parent( ) }}
{% endblock %}

{% block body %}
  <h2>Ajout concert</h2>
  <div class="well">
      {{ form(form) }}
  </div>

{% endblock %}
